.players
  .col-md-8
    - @players.in_groups_of(2) do |g|
      .row
        - g.each do |p|
          .col-md-6.player
            %span.player_name= p.name
            %span.pull-right
              %i.fa.fa-ban
              %i.fa.fa-plane
              %i.fa.fa-ambulance
              %i.fa.fa-star
              %i.fa.fa-money

  .col-md-4
    %a.add_player{ data: { toggle: 'modal', target: '#add_player_modal' } }
      %i.fa.fa-user-plus
      Add Player

  .col-md-4
    .something



#add_player_modal.modal.fade{ tabindex: '-1', role: 'dialog', aria: { labelledby: 'add_player_label', hidden: true } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span{ aria: { hidden: true } }
            &times;
        %i.fa.fa-user-plus
        %h4#add_player_label.modal-title Add Player
      .modal-body
        = form_tag('/player/add', method: 'post', class: 'form-horizontal') do
          .form-group
            = label_tag(:name, 'Player name:', class: 'col-md-3 control-label')
            .col-md-9
              = text_field_tag(:name, '', class: 'form-control')
          .form-group
            = label_tag(:position, 'Position:', class: 'col-md-3 control-label')
            .col-md-9
              = select_tag(:position, options_for_select(['ST', 'RW', 'LW', 'CAM']))
      .modal-footer
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
          Close
        %button.btn.btn-primary{ type: 'button', }
          Add
