.players
  .col-md-8
    - @players.in_groups_of(2) do |g|
      .row
        - g.each do |p|
          - next if p.nil?
          .col-md-6.player
            %span.player_name= p.name
            %span.pull-right
              %i.fa.fa-ban
              %i.fa.fa-plane
              %i.fa.fa-ambulance
              %i.fa.fa-money

  .col-md-4
    %a.add_player{ data: { toggle: 'modal', target: '#add_player_modal' } }
      %i.fa.fa-user-plus
      Add Player



#add_player_modal.modal.fade{ tabindex: '-1', role: 'dialog', aria: { labelledby: 'add_player_label', hidden: true } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span{ aria: { hidden: true } }
            &times;
        %i.fa.fa-user-plus
        %h4#add_player_label.modal-title Add Player
      = form_tag('/players/add', method: 'post', class: 'form-horizontal', remote: true, id: 'add_player_form') do
        .modal-body
          #add_player_message.hidden.alert
          .form-group
            = label_tag(:name, 'Player name:', class: 'col-md-3 control-label')
            .col-md-9
              = text_field_tag(:name, '', class: 'form-control')
          .form-group
            = label_tag(:position, 'Position:', class: 'col-md-3 control-label')
            .col-md-9
              = select_tag(:position, options_for_select(position_list), class: 'form-control')
          .form-group
            = label_tag(:dob, 'Date of Birth:', class: 'col-md-3 control-label')
            .col-md-9
              = date_field(:dob, '', class: 'form-control')
        .modal-footer
          %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
            Close
          %button.btn.btn-primary{ type: 'submit' }
            Add
