<!DOCTYPE html>
%html
  %head
    %title Football coaching software. Soccer coaching software | Squadie
    = stylesheet_link_tag('application', { :media => 'all', 'data-turbolinks-track' => true } )
    = javascript_include_tag('application', 'data-turbolinks-track' => true)
    = csrf_meta_tags
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans|Oswald', rel: 'stylesheet', type: 'text/css'}

  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ type: 'button', aria: { expanded: 'false', controls: 'navbar' }, data: { toggle: 'collapse', target: '#navbar' } }
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.navbar-brand{ href: '/' } Squadie

        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li#nav-user-details
                %p.navbar-text
                  = current_user.name
                .navbar-brand
                  %img{ src: current_user.avatar_url }
              %li#nav-logout
                %a{ href: '/logout' }
                  Logout
            - else
              %li.navbar-text
                %p.navbar-text
                Login:
              %li.social-login
                %a{ href: '/auth/twitter' }
                  %i.fa.fa-2x.fa-twitter
              %li.social-login
                %a{ href: '/auth/google_oauth2' }
                  %i.fa.fa-2x.fa-google
              %li.social-login
                %a{ href: '/auth/facebook' }
                  %i.fa.fa-2x.fa-facebook-official

    - if current_user
      .user-bar
        %ul.nav.nav-pills.nav-justified
          %li
            %a{ href: '/players' } Players
          %li
            %a{ href: '/calendar' } Calendar
          %li
            %a{ href: '/matches' } Matches
          %li
            %a{ href: '/squads' } Squads
          %li
            %a{ href: '/animator' } Animator

    .container-fluid
      .row
        = yield
